<mat-toolbar class="primary">
    <mat-toolbar-row fxLayouts="row">
        <span class="title-center">ForgotPassword</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordFrom">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" required>
                <mat-error
                    *ngIf="forgotPasswordFrom.controls.email.touched && forgotPasswordFrom.controls.email.invalid">
                    <span *ngIf="forgotPasswordFrom.controls.email.errors.required">This field is required</span>
                    <span *ngIf="forgotPasswordFrom.controls.email.errors.pattern">Invalid email</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handelSubmit()">Send</button>
    <button mat-raised-button color="primary" mat-dialog-close>close</button>
</mat-dialog-actions>