<mat-toolbar class="primary">
  <mat-toolbar-row fxLayouts="row">
    <span class="title-center">Change password</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Old Password</mat-label>
        <input type="password" matInput formControlName="oldPassword" required>
        <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">This field is required</span>
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.pattern">Invalid password</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>new Password</mat-label>
        <input type="password" matInput formControlName="newPassword" required>
        <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required">This field is required</span>
          <span *ngIf="changePasswordForm.controls.newPassword.errors.pattern">Invalid password</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" required>
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">This field is required</span>
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors.pattern">Invalid password</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [disabled]="validateSubmitted() && !(changePasswordForm.valid && changePasswordForm.dirty)" type="submit" (click)="handelChangePasswordSubmit()">Change password</button>
  <button mat-raised-button color="primary" mat-dialog-close>close</button>
</mat-dialog-actions>
