<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
      <li class="cp"><a (click)="signUpAction()">Signup</a></li>
      <li class="cp"><a (click)="forgootPasswordUpAction()">ForgotPassword</a></li>
      <li class="cp"><a (click)="LoginAction()">Login</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @BTech Days</h2>
</div>