<mat-card>
  <b><span>Manage category</span></b>
  <button mat-flat-button color="primary" class="float-right" (click)="AddCategoryAction()">Add category</button>
</mat-card>

<hr>
<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput type="text" placeholder="search" (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
<hr>

<div class="responsive_table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ele of dataSource">
        <td>{{ele.name}}</td>
        <td>
          <button mat-icon-button color="primary" matTooltip="Edit" (click)="handelEditAction(ele)">
            <mat-icon (click)="handelEditAction(ele._id)">edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
